/* Typography*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* colors*/
/* === Primary === */
/* === Neutrals === */
/* media queries */
html {
  font-size: 112.5%;
}

/*18px*/
body {
  width: 100vw;
  background: white;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.75;
  color: #23303e;
}

p {
  max-width: 36em;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 1.38rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* buttons */
.btn {
  cursor: pointer;
  color: white;
  background: #23303e;
  border: transparent;
  border-radius: 0.22rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.1s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
  /*block class is good with forms*/
}
.btn:hover {
  background: #1a232d;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btn-hipster {
  color: #5a636c;
  background: #fad400;
}
.btn-hipster:hover {
  color: #23303e;
  background: #e0bf00;
}
.btn-block {
  width: 100%;
}

/* titles */
.title {
  text-align: center;
}

.title-underline {
  background: #fe7867;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/* images */
.imgContainer {
  max-width: 100%;
  border-radius: 0.22rem;
}
.imgContainer .img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* nav */
.nav {
  width: 100%;
  padding: 1.6rem 1.3rem;
  background-color: #333;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav .hamburger {
  width: 24px;
  min-height: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.8s ease-in-out all;
}
.nav .hamburger.open {
  opacity: 0.4;
}
.nav .logoContainer {
  width: 125px;
  height: 24px;
}
.nav .navbar {
  width: 329px;
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 106px;
  right: -100%;
  cursor: pointer;
  background-color: white;
  transition: 0.8s ease-in-out all;
}
.nav .navbar.open {
  right: 30px;
}
.nav .navbar::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 24px solid white;
  border-left: 24px solid transparent;
  position: absolute;
  top: -23px;
  right: 0;
}
.nav .navbar li {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  transition: 0.8s ease-in-out all;
}
.nav .navbar li:hover {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.11px;
  background-color: #fad400;
  color: #23303e;
  text-transform: uppercase;
  border-radius: 1.6rem;
}
.nav .navbar li a {
  width: 100%;
  max-width: 150px;
  display: block;
  text-transform: capitalize;
  text-align: center;
  color: #818498;
  padding: 0.375rem 0.75rem;
}
.nav .active {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.11px;
  background-color: #fad400;
  color: #23303e;
  text-transform: uppercase;
  border-radius: 1.6rem;
}
@media (min-width: 1440px) {
  .nav .hamburger {
    display: none;
  }
  .nav .navbar {
    width: 600px;
    height: 3rem;
    flex-direction: row;
    right: 30px;
    top: 0;
  }
  .nav .navbar::before {
    display: none;
  }
}

.hero {
  width: 100%;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.header picture {
  width: 100%;
  height: 100%;
}
.header picture img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.main {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2rem;
}
.main .section {
  width: 100%;
  min-height: 100vh;
  background-color: salmon;
}

.footer {
  width: 100%;
  min-height: 50vh;
  background-color: cyan;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=main.css.map */
