@use'../abstracts/' as *;
@use'../components/' as *;

.gallery{
  width: 100%;
  height: 375px;
  @include grid(center);
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
}


@media(min-width: $largeScreen){
  .gallery{
    height: 447px;
  }
}