@use'../abstracts/' as *;
@use '../components/' as *;

.projects{
  width: 100%;
  min-height: 600px;
  @include flex(column, space-between,center);

  .card{
    width: 375px;
    height: 100%;
    position: relative;
    @include grid(center);
    color: $graphicDesignText;

    &__header{
      width: 100%;
      height:100%;
      position: relative;


      &__text{
        max-width: 340px;
        max-height: fit-content;
        padding: 0 1.3rem;
        text-align: center;
        position: absolute;
        top:63%;

        h2{
          font-size: 28px;
          letter-spacing: -0.2px;
          line-height: 100%;

        }

        p{
          font-size: 16px;
          letter-spacing: -0.11px;
          line-height: 27px;
        }
      }
    }

    &--omega {
      color:$photographyText;
    }



  }

}
@media(min-width: $largeScreen){
  .projects{
    flex-direction: row-reverse;

    .card{
      width: 720px;
    }

  }

}