@use '../abstracts' as *;
@use '../components/' as *;

.footer {
  width: 100%;
  max-width:$mobileScreen;
  min-height: 350px;
  background-color: $footer;
  @include grid(center);

  &__container{
    max-width: 300px;
    min-height: 206px;
    @include grid(center);

    nav{
      max-width:300px;
      @include grid(center);

      ul{
        @include flex(row,center,center);
        gap:0.6rem;

        li{

          a{
            color: $graphicDesignText;
            transition: $transition-2;

            &:hover{
              color:$white
            }
          }
        }

      }

    }



    .socialLinks {
      max-width: 164px;
      @include grid(center);
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
      gap: 1rem;

      .img{
        width: 25px;
        height: 25px;
        cursor: pointer;
        color:$graphicDesignText;
        transition: $transition-2;

        &:hover{
          color:$white
        }
      }

    }
  }
}
@media(min-width: $largeScreen){
  .footer{
    max-width:$largeScreen;
  }
}