@use '../abstracts' as *;
@use '../components/' as *;

.footer {
  width: 100%;
  min-height: 350px;
  background-color: $footer;
  @include grid(center);

  .card {
    max-width: 300px;
    min-height: 206px;
    flex-direction: column;

    .logoContainer {
      width: 170px;
      height: 33px;

      .img {
        color: $footer;

        svg {
          fill: currentColor;
        }
      }
    }

    .nav {
    }

    .socialLinks {
    }
  }
}
