@use '../abstracts' as *;
@use '../components' as *;

.header {
  width: 100%;
  min-height: 100vh;
  @include grid(center);

  .imgContainer {
    width:100%;
    min-height:100vh;

    .img{
      position:relative;
    }
  }
}

