@use '../abstracts' as *;
@use '../components' as *;

.header {
  width: 100%;
  max-width: $mobileScreen;
  @include grid(center);

  .imgContainer {
    width: 100%;
    max-height: 800px;

    .img{
      position:relative;
    }
  }
}
@media(min-width: $largeScreen){
  .header{
    max-width:$largeScreen;
  }
}

