@use '../abstracts' as *;
@use'../pages' as *;
@use '../components' as *;

.main {
  max-width: 375px;
  @include grid(center);


  .section {
    width: 100%;
  }
}

@media(min-width:$largeScreen){
  .main{
    max-width: 1440px;
  }
}