@use '../abstracts' as *;

.hero {
  width: 100%;
  min-height: 100px;
  @include flex(column, space-between, center);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__text {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 40px;
      margin-bottom: 0;
      line-height: 49px;
      letter-spacing: 6.25px;
      text-transform: uppercase;
      color: $white;
    }
  }

  &__imgContainer {
    position: absolute;
    top: 200px;
  }
}

@media (min-width: $largeScreen) {
  .hero {
    max-width: 780px;
    position: absolute;
    top: 195px;

    &__text {
      h1 {
        font-size: 56px;
        line-height: 69px;
        letter-spacing: 8.75px;
      }
    }
  }
}
