/* nav */

@use '../abstracts' as *;

.nav {
  width: 100%;
  max-width: $maxWidth;
  padding: 1.6rem 1.3rem;
  position: fixed;
  z-index: 9;
  @include flex(row, space-between, center);

  .hamburger {
    width: 24px;
    min-height: 1rem;
    color: $white;
    cursor: pointer;
    transition: $transition-2;

    &.open {
      opacity: 0.4;
    }
  }
  .logoContainer {
    width: 125px;
    height: 24px;
  }

  .navbar {
    width: 329px;
    height: 305px;
    @include flex(column, center, center);
    position: absolute;
    top: 106px;
    right: -100%;
    cursor: pointer;
    background-color: $white;
    transition: $transition-2;

    &.open {
      right: 30px;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-bottom: 24px solid $white;
      border-left: 24px solid transparent;
      position: absolute;
      top: -23px;
      right: 0;
    }

    li {
      width: 80%;
      @include flex(row, center, start);

      a {
        width: 100%;
        max-width: 150px;
        margin: 0.16rem;
        display: inline-block;
        text-align: center;
        color: $darkGrayishBlue;
        padding: 0.375rem 0.75rem;
        transition: $transition;

        &:hover {
          font-family: $headingFont;
          font-weight: $headingBold;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: -0.11px;
          background-color: $yellow;
          color: $textColor;
          text-transform: uppercase;
          border-radius: $borderRadius-2;
        }
      }
    }
  }

  .active {
    font-family: $headingFont;
    font-weight: $headingBold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.11px;
    background-color: $yellow;
    color: $textColor;
    text-transform: uppercase;
    border-radius: $borderRadius-2;
  }

  @media (min-width: $largeScreen) {
    .hamburger {
      display: none;
    }
    .navbar {
      width: $fixedWidth;
      height: 3rem;
      flex-direction: row;
      right: 30px;
      top: 0;
      background-color: transparent;

      &::before {
        display: none;
      }

      li {
        a {
          color: $white;

          &.active {
            font-family: $headingFont;
            font-weight: $headingBold;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: -0.11px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.25);
          }

          &:hover {
            color: $textColor;
            background-color: $white;
          }
        }
      }
    }
  }
}
