/* colors*/

/* === Primary === */

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphicDesignText: hsl(167, 40%, 24%);
$photographyText: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 70%);

/* === Neutrals === */

$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(210, 4%, 67%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
