@mixin grid($placeItems) {
  display: grid;
  place-items: $placeItems;
}

@mixin flex($direction,$justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}